.neg {
    color: red;
}

.pos {
    color: limegreen;
}

.column-title > button {
    justify-content: center;
    padding: 3px;
}

.table-row {
    border-top: 1px solid lightgray;
}

.table-container {
    background-color: lightgray;
    padding: 2vw;
}

.table {
    background-color: white;
}