.neg {
    color: red;
}

.pos {
    color: limegreen;
}

.column-title > button {
    justify-content: center;
    padding: 3px;
}

.table-row {
    border-bottom: 1px;
    border-color: black;
    border-bottom-color: black;
    padding-bottom: 5px;
}

.table-container {
    background-color: lightgray;
    padding: 2rem;
}

.table {
    background-color: white;
}